.pre_order_available p {
    display: inline-block;
    padding: 4px 10px;
    background-color: #cccccc;
    color: #000000;
}
.pre_order_available_variation {
    display: none;
}
.pre_order_available_variation p{
    display: inline-block;
    padding: 4px 10px;
    background-color: #cccccc;
    color: #000000;
}