img.pofw_rating_div {
    width: 100px;
    vertical-align: middle;
}
div.pofw_form_table_main {
    padding: 10px;
    background-color: white;
    margin-top: 15px;
    border: 1px solid #2271b1;
    margin-bottom: 15px;
    width: 97%;
}
table.data_table {
    display: inline-block;
    width: 100%;
    padding: 10px;
}
table.data_table tbody tr th {
    vertical-align: top;
    text-align: left;
    padding: 20px 10px 20px 10px;
    width: 20%;
    font-weight: 600;
}
table.data_table tbody tr td {
    vertical-align: top;
    text-align: left;
    padding: 20px 10px 20px 10px;
    width: 50%;
}
.data_table p.description {
    margin-top: 4px;
    margin-bottom: 0;
}
h2.header_for_section {
    padding: 10px;
    margin: 0;
    background-color: #2271b1;
    color: #ffffff;
}

.pofw_rateus_notice, .pofw_support_notice {
    display: inline-block;
    width: 45%;
    float: left;
    color: #fff;
    background-color: #fb5f51;
    padding: 15px;
    border-radius: 5px;
    margin-top: 15px;
    height: 70px;
    margin-bottom: 12px;
}
.pofw_rtusnoti_left {
    display: inline-block;
    float: left;
    width: 70%;
}
.pofw_rtusnoti_right {
    display: inline-block;
    float: right;
    text-align: right;
}
.pofw_rateus_notice h3, .pofw_support_notice h3 {
    color: #fff;
    margin: 0;
    margin-bottom: 12px;
    font-size: 20px;
}
.pofw_support_notice {
    background-color: #2f3337;
    margin-left: 2%;
}
img.pofw_review_icon {
    width: 50px;
    height: auto;
}
.pofw_donate_main {
    background: #fff;
    padding: 15px;
    display: flex;
    width: 94.6%;
    border: 1px solid #e3bbac;
    align-items: center;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    margin-top: 15px;
}
.pofw_donate_main img {
    height: 32px;
}
.pofw_donate_main > * {
    margin: 0 15px 0 0;
    vertical-align: middle;
}
.pofw_rateus_notice label,.pofw_support_notice label {
    font-size: 16px;
}
.pofw_rateus_notice a,.pofw_support_notice a {
    color: #fff;
}